## Data types

### Numbers

Dynamic typed language --- no need of datatypes-- datatypes are inferred from value u assign to variables

In [2]:
def sum(a,b):
    sum=a+b
    return sum

In [3]:
sum(2,3)

5

In [4]:
def times(a):
    return a*a

In [5]:
times(9)

81

In [6]:
list1=[1,2,6,5]
for i in list1:
    if i%2==0:
        print(i)

2
6

In [4]:
print(list1)

[1, 2, 'parth', 5]

In [12]:
str1="Parth is teaching aws"
list2=str1.split()
print(list2)
for i in list2:
    print(i)
    if i=="python":
        print("python is in string")
print("Out of for loop")

['Parth', 'is', 'teaching', 'aws']
Parth
is
teaching
aws
Out of for loop

In [8]:
string45="I am going to park"
l1=string45.split(" ")
l1

['I', 'am', 'going', 'to', 'park']

In [18]:
l1=eval(input("Enter a list"))

Enter a list[1,2,3]

In [20]:
string1=input("Enter a string")

Enter a stringParth is teaching python

In [4]:
5**2

25

In [5]:
5**5

3125

In [3]:
10%2

0

##

In [7]:
9%2

1

In [8]:
9/2

4.5

In [9]:
9//2

4

In [13]:
num=2

In [7]:
print(2/3)

0.6666666666666666

In [9]:
nam='Raj'

In [10]:
type(nam)

str

In [14]:
type(num)

int

In [13]:
1/2

0.5

In [14]:
#double division gives me int
1//2

0

In [15]:
2 ** 3

8

In [16]:
9 % 2

1

In [17]:
5 % 2

1

In [18]:
#this is a comment
2+3*5+5

22

In [19]:
(2 + 3) * (5 + 5)
5*10

50

### Variable Assignment

In [19]:
# Can not start with number or special characters
name_of_var = 2

In [20]:
x = 0
type(x)

int

In [13]:
x=0
type(x)

int

In [21]:
x="Parth"
type(x)

str

In [23]:
x=1
y = 3
z = x + y
z

4

In [18]:
## Data types

In [24]:
type(z)

int

### Strings

In [25]:
'singlequotes'

'singlequotes'

In [26]:
"double quotes"

'double quotes'

In [27]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [16]:
x = 'hello'

In [19]:
y=2
print(y)

2

In [30]:
x

'hello'

In [30]:
k=2
m=9
print("the value of k is {}, the value of m is {}".format(k,m))

the value of k is 2, the value of m is 9

In [ ]:
name="Raj"
training_name= "Devops"
my name is Raj , I am attending devops training

In [31]:
print(f'the value of k is {k}, the value of m1 is {m}')

the value of k is 2, the value of m1 is 9

In [20]:
one=12
two="Raj"
print(f'My number is: {one}, and my name is: {two}')

My number is: 12, and my name is: Raj

In [10]:
print("the roll_number of {} is {} ".format(name,num))

the roll_number of Sam is 12

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [ ]:
planet="Earth"
diameter="14627"
the diameter of Earth is 14627 kilometeres

In [35]:
list=[1,2,2,'a',"Parth"]
print(list)
list[0]=9

[1, 2, 2, 'a', 'Parth']

In [36]:
tuple=(1,22,4,'a',22)
print(tuple)

(1, 22, 4, 'a', 22)

In [37]:
dict={"user":"parth","password":"parth@12345"}; #json format
user=dict["user"]
print(user)

parth

In [38]:
a=dict["password"]
print(a)
#ssh 10.34.45.56 user+"@"+a

parth@12345

In [31]:
a={1,22,22}
print(a)

{1, 22}

In [32]:
a=[1,22,22]
print(a)

[1, 22, 22]

In [33]:
a[0]

1

In [35]:
a[2]

22

### Lists

In [2]:
l1=[1,2,'parth',[1,2]]

In [18]:
[1,2,3,'premraj',[6,7]]

[1, 2, 3, 'premraj', [6, 7]]

In [3]:
type(l1)

list

In [4]:
l=['a',1,2,[8,9,[6,7]]]

In [7]:
l[3][2][0]

6

In [12]:
l.append('56')

In [13]:
print(l)

['a', 1, 2, [8, 9], '56']

In [15]:
l[2:5]

[2, [8, 9], '56']

In [39]:
my_list=['a','b','c']

In [40]:
my_list.append('d')

In [41]:
my_list

['a', 'b', 'c', 'd']

In [42]:
my_list[1:3]

['b', 'c']

In [29]:
my_list[1]=9

In [30]:
my_list

['a', 9, 'c']

In [10]:
#List Slicing
my_list2=my_list[1:4]
my_list2

['b', 9]

In [43]:
my_list[:2]

['a', 'b']

In [50]:
q = [1,'b',[4,6]]
print(q[1:2])
print(q[2][1])

['b']
6

In [51]:
my_list

['a', 'b', 'c', 'd']

In [52]:
my_list[1] = 'NEW'

In [53]:
my_list

['a', 'NEW', 'c', 'd']

In [18]:
#Tuple
my_tup=(1,2,3,'a')
my_tup

(1, 2, 3, 'a')

In [20]:
#Tuple
my_list=[1,2,3,'a']
my_list[1]=89
print(my_list)

[1, 89, 3, 'a']

In [21]:
my_tup[1]=89

TypeError: 'tuple' object does not support item assignment

In [44]:
nest = [1,2,3,[4,5,['target','hi']]]

In [47]:
nest[3][2][1]

'hi'

In [67]:
nest[3][2]

['target', 'hi']

In [1]:
nest[3][2][0]

NameError: name 'nest' is not defined

In [65]:
nest[3][2][1]

'hi'

### Dictionaries

In [48]:
d = {'k1':'item1','k2':'item2','k3':'v1'}

In [49]:
d['k1']

'item1'

In [6]:
d={1:'t',7:'o'}
d[1]

't'

In [17]:

l=[1,2,3]
t=(1,2,3)
d={'k1':1,'k2':2}
l[0]
d['k1']

1

In [11]:
l[0]

1

In [12]:
t[1]

2

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [15]:
t = (1,2,3)

In [43]:
t[0]

1

In [16]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [54]:
{1,2,3,2,2}

{1, 2, 3}

In [56]:
l=[1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2]
print(l)

[1, 2, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2]

In [57]:
t=(1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2)
t

(1, 2, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2)

In [58]:
set1={1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
set1

{1, 2, 3}

In [23]:
d={'k1':5}
d

{'k1': 5}

## Comparison Operators

In [ ]:
<
>
>=
<=
==
!=

True
False

In [21]:
1 < 2

True

In [22]:
1 > 2

False

In [61]:
1 >= 1

True

In [62]:
1 <= 4

True

In [63]:
1 == 1

True

In [23]:
'hi' != 'him'

True

## Logic Operators

In [24]:
(1 < 2) and (2 < 3)

True

In [27]:
True or False

True

In [75]:
True or False and False

True

In [29]:
(1 > 2) and (2 < 3)

False

In [77]:
(1 == 2) and (2 == 3) and (4 == 4)

False

## if,elif, else Statements

In [69]:
if 1>2:
    print("hi")
    print("hello")
elif 1!=1:
    print("know")
else:
    print("ji")

ji

In [31]:
num1=5
num2=4
if num1>num2:
    print("num1 is the greater number")
else:
    print("num2 is greater number")

num1 is the greater number

In [36]:
num1=int(input("Enter num one"))
num2=int(input("Enter num two"))
if num1>num2:
    print("num1 is the greater number")
elif num1==num2:
    print("numbers are equal")
else:
    print("num2 is greater number")

Enter num one1
Enter num two4
num2 is greater number

In [ ]:
#Two numbers from user
#print menu to the user
#1. add
#2. sub
#3. mul
#4. div
#Ask user to put his choice from the menu
#ch==1, add two numbers and print the result
#ch==2, subtract the numbers and print the result

In [34]:
num1=int(input("Enter a number"))

Enter a number2

In [18]:
if 1>2:
    print("parth")
else:
    print("raj")

raj

In [11]:
if 1>2:
    print("Parth")
elif 2<3:
    print("rasesh")
else:
    print("chidi")

rasesh

In [16]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [ ]:
#Print odd numbers between 1 to 100

In [53]:
if 1 > 2:
    print('yep!')

In [72]:
x=input("Enter a number")

Enter a numberparth

In [23]:
x

'78Parth'

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [ ]:
Sets
Relational
Logical
if/else/elif
User inputs

In [19]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [73]:
count=0
seq = [2,2,3,4,5]
for i in seq:
    if i%2==0:
        count=count+1
print(count)

3

In [ ]:
Comparison
Relational
If/else/elif
range
For Loop

In [23]:
6%2

0

In [74]:
seq = [2,2,3,4,5]
for i in seq:
    if i==6:
        print(i)
    else:
        print("no is not there")

no is not there
no is not there
no is not there
no is not there
no is not there

In [77]:
for i in range(1,5,2):
    print(i)

1
3

In [76]:
for i in range(2,5):
    print(i)

2
3
4

In [82]:
def domainGet(a):
    k=a.split("@")
    return k[1]

In [83]:
domainGet("parth@gmail.com")

'gmail.com'

In [79]:
def sum(a,b):
    sum=a+b
    return sum

In [1]:
def sum(a,b):
    sum=a+b
    return sum

In [3]:
def positivenum(num):
    if num>0:
        print("positivenum")
    else:
        print("negativenum")

In [5]:
positivenum(-9)

negativenum

In [2]:
res=sum(8,4)
print(res)

12

In [43]:
length=len(seq)
for i in range(length):
    print("index is",i)
    print("value is",seq[i])

index is 0
value is 2
index is 1
value is 2
index is 2
value is 3
index is 3
value is 4
index is 4
value is 5

In [44]:
seq[i]

3

In [10]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [11]:
for i in seq:
    print(i+i)

2
4
6
8
10

Opeators(relational/logical)
Data Structure(l,t,d,s)
Conditionals(if,else,elif)
Looping(For/While)

## range()

In [3]:
for i in range(1,10,2):
    print(i)
    
    
    50,100,even

1
3
5
7
9

In [13]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [86]:
for i in range(0,100,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [17]:
list(range(100,200,25))

[100, 125, 150, 175]

In [58]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [16]:
#5,10,15,20

In [13]:
x = [1,2,3,4]

In [68]:
out1

[3, 4, 5, 6]

In [25]:
#Take two values from user and perform all arithmetic,logical and relational operations for them

In [ ]:
a=2
b=3
sum(a,b)
diff
mul
div
and1
or1
<=
<=
==
<
>