In [0]:
import pandas as pd

In [0]:
df1 = pd.DataFrame({'A': ['001', '002', '003', '004'],
                        'B': ['005', '006', '007', '008'],
                        'C': ['009', '010', '011', '012'],
                        'D': ['013', '014', '015', '016']},
                        index=[0, 1, 2, 3])

In [0]:
df2 = pd.DataFrame({'A': ['111', '222', '333', '444'],
                        'B': ['555', '666', '777', '888'],
                        'C': ['999', '100', '456', '234'],
                        'D': ['567', '456', '345', '459']},
                         index=[4, 5, 6, 7])

In [0]:
df3 = pd.DataFrame({'A': ['973', '658', '231', '134'],
                        'B': ['567', '543', '457', '348'],
                        'C': ['234', '987', '359', '976'],
                        'D': ['679', '341', '342', 'D11']},
                        index=[8, 9, 10, 11])

In [0]:
df1

,A,B,C,D
0,001,005,009,013
1,002,006,010,014
2,003,007,011,015
3,004,008,012,016

In [0]:
df2

,A,B,C,D
4,111,555,999,567
5,222,666,100,456
6,333,777,456,345
7,444,888,234,459

In [0]:
df3

,A,B,C,D
8,973,567,234,679
9,658,543,987,341
10,231,457,359,342
11,134,348,976,D11

In [0]:
pd.concat([df1,df2,df3])

,A,B,C,D
0,001,005,009,013
1,002,006,010,014
2,003,007,011,015
3,004,008,012,016
4,111,555,999,567
5,222,666,100,456
6,333,777,456,345
7,444,888,234,459
8,973,567,234,679
9,658,543,987,341
10,231,457,359,342
11,134,348,976,D11

In [0]:
pd.concat([df1,df2,df3],axis=1)

,A,B,C,D,A,B,C,D,A,B,C,D
0,001,005,009,013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,002,006,010,014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,003,007,011,015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,004,008,012,016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,111,555,999,567,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,222,666,100,456,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,333,777,456,345,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,444,888,234,459,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973,567,234,679
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,658,543,987,341
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,231,457,359,342
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134,348,976,D11

In [0]:
left = pd.DataFrame({'key': ['AA', 'BB', 'CC', 'DD','EE'],
                     'A': ['FF', 'GG', 'HH', 'KK',2],
                     'B': ['LL', 'MM', 'NN', 'OO',3]})
   
right = pd.DataFrame({'key': ['AA', 'QQ', 'RR', 'DD','TT'],
                          'C': ['FF', 'VV', 'HH', 'XX','c6'],
                          'D': ['LL', 'ZZ', 'N5', 'D3','d6']})

In [0]:
pd.merge(left,right,how='inner',on='key')

,key,A,B,C,D
0,AA,FF,LL,FF,LL
1,DD,KK,OO,XX,D3

In [0]:
pd.merge(left,right,how='left',on='key')

,key,A,B,C,D
0,AA,FF,LL,FF,LL
1,BB,GG,MM,NaN,NaN
2,CC,HH,NN,NaN,NaN
3,DD,KK,OO,XX,D3
4,EE,2,3,NaN,NaN

In [0]:
pd.merge(left,right,how='right',on='key')

,key,A,B,C,D
0,AA,FF,LL,FF,LL
1,QQ,NaN,NaN,VV,ZZ
2,RR,NaN,NaN,HH,N5
3,DD,KK,OO,XX,D3
4,TT,NaN,NaN,c6,d6

In [0]:
pd.merge(left,right,how='outer',on='key')

,key,A,B,C,D
0,AA,FF,LL,FF,LL
1,BB,GG,MM,NaN,NaN
2,CC,HH,NN,NaN,NaN
3,DD,KK,OO,XX,D3
4,EE,2,3,NaN,NaN
5,QQ,NaN,NaN,VV,ZZ
6,RR,NaN,NaN,HH,N5
7,TT,NaN,NaN,c6,d6

In [0]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [0]:
left.join(right)

,A,B,C,D
K0,A0,B0,C0,D0
K1,A1,B1,NaN,NaN
K2,A2,B2,C2,D2